
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div class="card-footer">
    <div class="input-group">
        <textarea  id="messageInput" class="form-control type_msg message-content" placeholder="Type your message..."></textarea>
        <div class="input-group-append">
            <button id="sendButton" class="input-group-text send_btn"><i class="fa fa-paper-plane"></i></button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/signalr.js/jquery.signalR.min.js" asp-append-version="true"></script>
    <script src="~/js/message-signalr.js" asp-append-version="true"></script>
    <script>

        setup = () => {
            var connection =
                new signalR.HubConnectionBuilder()
                    .withUrl("/Messages/Test")
                    .build();

            connection.on("NewMessage",
                function (message) {
                    var chatInfo = `<div>[${message.user}] ${escapeHtml(message.text)}</div>`;
                    $("#messagesList").append(chatInfo);
                });

            $("#sendButton").click(function (data) {
                data.preventDefault();
                var message = $("#messageInput").val();
                connection.invoke("Send", message);
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            function escapeHtml(unsafe) {
                return unsafe
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;");
            }

        };

        setup();
    </script>
}
