@using MiddleMan.Web.ViewModels.Administration.Dashboard.InputModels;
@model CreateCategoryModel;
@{
    ViewData["Title"] = "CreateCategory";
}

<h1>Create Category</h1>

<div class="container-fluid">
    @*<form asp-controller="Dashboard" asp-action="CreateCategory" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="offset-2 col-8">
                <div class="form-group">
                    <label class="required">Name</label>
                    <input name="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>*@

    <form class="form-inline" asp-controller="Dashboard" asp-action="CreateCategory" enctype="multipart/form-data" method="post">
        
        <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only">Name</label>
            <input name="Name"type="text" class="form-control" placeholder="Category Name Here">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Create Category</button>
    </form>
</div>

