@model MiddleMan.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>



<ul>
    <li class="list-group-item" onclick="location.href='Dashboard/ForApprove'">
        <div class="edit-info d-inline-block">
            <span>Approve offers <strong class="text-warning">@Model.ApproveCount</strong></span>
        </div>
    </li>
    <li class="list-group-item" onclick="location.href='Dashboard/CreateCategory'">
        <div class="edit-info d-inline-block">
            <span>Create Category</span>
        </div>
    </li>
    <li class="list-group-item" onclick="location.href='Dashboard/EditCategories'">
        <div class="edit-info d-inline-block">
            <span>Edit Categories</span>
        </div>
    </li>
</ul>

