@model MiddleMan.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>



<ul style="margin-left: -40px;">
    <li class="list-group-item" onclick="location.href='Dashboard/Users'">
        <div class="edit-info d-inline-block">
            <span>Menage Users <strong class="text-warning"></strong></span>
        </div>
    </li>
    <li class="list-group-item" onclick="location.href='Dashboard/ForApprove'">
        <div class="edit-info d-inline-block">
            <span>Approve offers <strong class="text-warning">@Model.ApproveCount</strong></span>
        </div>
    </li>
    <li class="list-group-item" onclick="location.href='Dashboard/CreateCategory'">
        <div class="edit-info d-inline-block">
            <span>Create Category</span>
        </div>
    </li>
    <li class="list-group-item" onclick="location.href='Dashboard/EditCategories'">
        <div class="edit-info d-inline-block">
            <span>Edit Categories</span>
        </div>
    </li>
</ul>

<canvas id="myChart" style="width:100%; height:400px"></canvas>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="~/js/canvas-stats.js" asp-append-version="true"></script>
}