@model MiddleMan.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>



<ul>
    <li class="list-group-item">
        <div class="edit-info d-inline-block">
            <span>Approve offers</span>
        </div>
        <div class="d-inline-block text-right custom-edit-delete-btns">
            <a href="Dashboard/ForApprove" class="btn btn-success">Go</a>
        </div>
    </li>
    <li class="list-group-item">
        <div class="edit-info d-inline-block">
            <span>Create Category</span>
        </div>
        <div class="d-inline-block text-right custom-edit-delete-btns">
            <a href="Dashboard/CreateCategory" class="btn btn-success">Go</a>
        </div>
    </li>
    <li class="list-group-item">
        <div class="edit-info d-inline-block">
            <span>Edit Categories</span>
        </div>
        <div class="d-inline-block text-right custom-edit-delete-btns">
            <a href="Dashboard/EditCategories" class="btn btn-success">Go</a>
        </div>
    </li>
</ul>

