@using MiddleMan.Web.ViewModels.Search
@model SearchInputModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form action="/Home/Search" method="post">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2" style="width: 100%;">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <select class="form-control">
                            <option selected="selected" disabled>Filter by</option>
                            <option value="Contains">Contains</option>
                            <option value="Equal">It's equal</option>
                            <option value="Greater">Greather than ></option>
                            <option value="Less">Less than < </option>
                            <option value="Anything">Anything</option>
                        </select>
                    </div>
                    <input asp-for="@Model.SearchWord" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
            </div>
        </div>
    </div>
</div>
</form>
