label input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    margin-left: 2em;
    position: relative;
    cursor: pointer;
    display: flex;
    position: absolute;
    /* margin-right: 46%; */
    right: 2%;
}

    .custom-checkbox .glyphicon {
        color: gold;
        position: absolute;
        /* top: 0.4em; */
        /* left: -1.25em; */
        right: 10%;
        font-size: 1.95em;
        font-style: normal;
    }

    .custom-checkbox .glyphicon-star-empty {
        color: gray;
        background: none;
        border: none;
    }

    .custom-checkbox .glyphicon-star {
        transition: opacity 0.2s ease-in-out;
        background: none;
        border: none;
    }

    .custom-checkbox:hover .glyphicon-star {
        opacity: 0.5;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
        opacity: 1;
    }

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

#id-of-input {
    font-size: 48px
}

