/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: white
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background: rgba(0, 0, 0, 0.85);
}

.profile-panel .profile-info {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel-footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f3f5f6;
    border-top: 1px solid #ddd;
}

.panel-default .panel-footer {
    color: #768399;
    background-color: #e4e9eb;
    border: 1px solid #e4e9eb;
    border-top: none;
}

.panel.plain .panel-footer {
    border-top: none;
}

.panel-footer .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.profile-panel .profile-stats-info a {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
    color: #79859b;
}

.profile-panel .user-name {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-panel .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
}

.profile-panel .profile-avatar {
    text-align: center;
}

.panel-default .panel-body {
    border: 1px solid #e4e9eb;
    border-top: none;
}

.panel-body {
    padding: 15px;
}

.panel-body-custom {
    padding: 15px;
    padding-top: 30px;
}

.profile-panel .profile-image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel {
    position: relative;
    margin-bottom: 25px;
    border-radius: 4px;
    border: 0;
    box-shadow: none;
}

.panel-default {
    border-color: #e4e9eb;
}

.panel.plain .panel-default .panel-heading {
    border: 1px solid #e4e9eb;
    border-bottom: none;
}

.panel.plain .panel-heading {
    border-bottom: none;
}

.panel.panel-default .panel-heading {
    background-color: mediumseagreen;
}

.panel-heading .white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.panel-default .panel-heading {
    color: #768399;
    background-color: #e4e9eb;
    border-color: #e4e9eb;
}

.white-content {
    color: #768399;
    background: #fff;
    background-color: #fff;
}

.p-left {
    padding-left: 0 !important;
}

.p-right {
    padding-right: 0 !important;
}

.panel-heading {
    padding: 0 15px;
    min-height: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.profimg {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    object-fit: cover;
}

.profimgseetings {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    object-fit: cover;
}

.buy{
    float: right;
    width: 20%;
}

b {
    position: absolute;
    margin-top: 12px;
}







.custom-edit-delete-btns {
}
.edit-info{
    width: 75%;
}
/*Validations for offer form*/
input:required:invalid, input:focus:invalid {
    background-color: rgba(127,129,214, 0.3);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}

input:required:valid {
    background-color: rgba(142,221,228, 0.3);
    background-position: right top;
    background-repeat: no-repeat;
}

textarea:required:invalid, textarea:focus:invalid {
    background-color: rgba(127,129,214, 0.3);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}

textarea:required:valid {
    background-color: rgba(142,221,228, 0.3);
    background-position: right top;
    background-repeat: no-repeat;
}

select:required:invalid, select:focus:invalid {
    background-color: rgba(127,129,214, 0.3);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}

select:required:valid {
    background-color: rgba(142,221,228, 0.3);
    background-position: right top;
    background-repeat: no-repeat;
}

/*.ui-sortable-handle {
    background-color: skyblue;
    color: white
}

.category {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
    width: 300px;
    height: 15px;
    color: black;
    list-style-type: none
}

.placeholder {
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
    width: 300px;
    height: 15px;
    background-color: whitesmoke;
}*/

.custom-slide-li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    /* background-clip: padding-box; */
    /* border-top: 10px solid transparent; */
    /* border-bottom: 10px solid transparent; */
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-indicators .active {
    /* width: 12px; */
    /* height: 5px; */
    /* margin: 0; */
    background-color: #fff;
    /* margin-top: 1px; */
}

img.card-img-top {
    border-radius: 15px;
}

.list-group-item {
    background-color: lightblue;
    color: black;
}

.list-group-item:hover {
    background-color: #8395DF;
    color: white;
}

.nav-link {
    color: black;
}
.nav-link:hover {
    color: white;
}

.custom-selected {
    background-color: #8395DF;
    color: white;
}

.carousel-inner {
    background: linear-gradient(to right, #8BC8E5, #86A8E7, #828EDC);
}

.form-control {
    background-color: rgba(142,221,228, 0.3);
}
.form-control:disabled {
    background-color: cornflowerblue;
}

a{
    color: white;
}

.InitialMessageBubble__StyleWrapper-sc-1p3j2x6-0 iEAFqZ p-top-8 p-bottom-4 {
    display: none;
}