@{
    Layout = "";
}

    <html>
    <head>
        <title>404</title>
        <link href="~/css/notfound.css" rel="stylesheet" asp-append-version="true" />
    </head>
    <body>
        <div class="wrapper">
            <h1>404 Not Found</h1>
            <p>It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home.</p>
            <div class="buttons">
                <a href="/">Home</a>
                <br />
                <span>Help me out</span>
            </div>
        </div>
        <div class="space">
            <div class="blackhole"></div>
            <div class="ship"></div>
        </div>
    </body>
    </html>




