@using MiddleMan.Common
@using MiddleMan.Data.Models
@using Microsoft.AspNetCore.Identity
@using MiddleMan.Services
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (this.SignInManager.IsSignedIn(this.User))
    {

        <li class="nav-item">
            <a class="nav-link active" asp-controller="Messages" asp-action="Index">
                <i class="fa fa-envelope"></i>
                <strong id="messagesCount"></strong>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Favorites" asp-action="Index" class="nav-link active" title="Favorites">

                <span class="glyphicon glyphicon-star removeFavorites">★</span>
                <strong id="favoritesCount"></strong>
            </a>
        </li>

        <li class="nav-item active dropdown">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> Hello @(this.User.Identity.Name)
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <span class="text-warning" id="notifications-count-navbar-admin"></span>
                }
                else
                {
                    <span class="text-warning" id="notifications-count-navbar-user"></span>
                }
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/User/Active">My Offers</a>
                <a class="dropdown-item" href="/Favorites">
                    Favorites
                    <strong id="favoritesCount2"></strong>
                </a>
                <a class="dropdown-item" href="/Messages">
                    Messages
                    <strong id="messagesCount2"></strong>
                </a>
                <a class="dropdown-item" href="/Order/History" title="Manage">Orders History</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">
                        Admin
                        <strong class="text-warning" id="admin-link"></strong>
                    </a>
                }
                <a class="dropdown-item">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                        <button type="submit" class="btn btn-link">Logout</button>
                    </form>
                </a>

            </div>
        </li>


        @*<li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)</a>
            </li>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
            }
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
