@using MiddleMan.Web.ViewModels.ViewModels.Offer
@model CreateOfferSharedModel
@{
    this.ViewData["Title"] = "Sell Digital Good";
}

<h1>@this.ViewData["Title"]</h1>


<form class="form-horizontal" asp-controller="Offer" asp-action="CreateOffer" method="post" enctype="multipart/form-data">
    <div class="form-group required">
        <div class="controls col-md-8 ">
            <h4>Name</h4>
            <input type="text" class="input-md  textinput textInput form-control" min="3" required minlength="3" maxlength="50" asp-for="CreateOfferModel.Name" placeholder="Offer Name" style="margin-bottom: 10px" />
        </div>
    </div>
    <div class="form-group col-md-8 required">
        <h4 @*asp-for="CreateOfferModel.CategoryId"*@ class="required">Choose Category</h4>
        <select asp-for="CreateOfferModel.CategotyName" class="form-control" required>
            <option selected="true" disabled="disabled">--Select--</option>"
            @foreach (var category in Model.CreateOfferViewModel.Categories)
            {
                <option value="@category.Name">@category.Name</option>
                // possible to replace name with value if not working
            }
            <vc:categories-dropdown>
            </vc:categories-dropdown>
        </select>
        <span @*asp-validation-for="Category.CategoryId"*@ class="text-danger"></span>
    </div>
    <div class="form-group required">
        <div class="controls col-md-8 ">
            <h4>Description</h4>
            <textarea rows="4" style="margin-bottom: 10px" class="input-md textinput textInput form-control" required minlength="20" maxlength="1000" asp-for="CreateOfferModel.Description" placeholder="Description" type="text"></textarea>
        </div>
    </div>
    <div class="form-group required">
        <div class="controls col-md-8 ">
            <h4>Price($USD)</h4>
            <input required min="1" max="2000" class="input-md textinput textInput form-control" asp-for="CreateOfferModel.Price" placeholder="Price(10$)" style="margin-bottom: 10px" type="number" />
        </div>
    </div>
    <div class="form-group required controls col-md-8">
        <h4>Upload Photo</h4>
        <i class="fa fa-upload"></i> Upload
        <input required asp-for="CreateOfferModel.Photo" type="file" class="form-control" />

        @*<div class="file-field">
            <a class="btn-floating peach-gradient mt-0 float-left">
                <i class="fas fa-paperclip" aria-hidden="true"></i>
                <input type="file" asp-for="CreateOfferModel.Photo">
            </a>
            <div class="file-path-wrapper">
                <input class="file-path validate disabled" type="text" placeholder="Upload your file">
            </div>
        </div>*@
    </div>

    <div class="form-group">
        <div class="aab controls col-md-4 "></div>
        <div class="controls col-md-8 ">
            <input type="submit" value="Post Offer" class="btn btn-primary btn btn-info" />
        </div>
    </div>

</form>